@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@import url("sections/header.css");
@import url("sections/cooking.css");
@import url("sections/masterclass.css");
@import url("sections/menu.css");
@import url("sections/slider.css");
@import url("sections/findrecipe.css");
@import url("sections/footer.css");

:root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --primary-color: #8AB641;
    --secondary-color: #121212;
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  
    --color-white: #fff;
    --color-creamson: #fff0de;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .qb__hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .qb__hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


/* Media Queries */
@media (max-width: 768px) {
  /* header section */
  header {
    width: 768px;
    background-color: transparent;
  }
  .header__nav {
    width: 768px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
  }
  .header__logo h4 {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 7px 7px 75px rgba(0,0,0,1);
  }

  /* cooking section */
  .intro {
    max-width: 768px;
  }

  .intro__title {
    font-family: var(--playfair-display);
    color: var(--color-white);
    font-size: 64px;
    /* line-height: 0.9; */
    margin: 0;
    margin-left: -0.1em;
    letter-spacing: -0.025em;
    text-shadow: 7px 7px 50px rgba(0,0,0,1);
  }

}









  