/* START: header media querie */
@media screen and (max-width: 900px) {
    .header__nav {
      background: var(--primary-color);
    }
  
    .header__menu {
      display: none;
    }
  
    .header__menu-mobile {
      display: flex;
    }
  }
  
  @media screen and (max-width: 550px) {
    .header__logo {
      padding-left: 0;
    }
  }
  /* END: header media queries */
  
  /* START: hero media queries */
  @media screen and (max-width: 1060px) {
    .hero {
      flex-direction: column;
    }
  
    .hero-image img {
      width: 70%;
    }
  }
  
  @media screen and (max-width: 750px) {
  
  }
  
  @media screen and (max-width: 550px) {
    .hero-image img {
      width: 50%;
    }
    .hero-content-info {
      padding: 32px;
    }
  
    .hero-content-info h1 {
      font-size: 60px;
    }
  
    .hero-content-info p {
      margin: 32px 0;
    }
  
    .hero-content__buttons {
      margin: 41px 0;
    }
  }
  /* END: hero media queries */
  
  /* START: popular media queries */
  @media screen and (max-width: 550px) {
    .popular-foods {
      padding: 64px 32px;
    }
  
    .popular-foods__card,
    .popular-foods__card.active-card {
      min-width: 100%;
    }
  }
  /* END: popular media queries */
  
  /* START: subscribe media queries */
  @media screen and (max-width: 550px) {
    .subscription {
      padding: 64px 32px;
    }
  
    .subscription h2 {
      font-size: 68px;
      line-height: 100px;
    }
  
    .subscription__form {
      flex-direction: column;
      gap: 20px;
  
      min-width: 100%;
      border-radius: 20px;
      padding: 0;
  
      border: none;
    }
  
    .subscription__form input {
      min-height: 50px;
  
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px 20px;
      border-radius: 30px;
    }
  
    .subscription__form button {
      min-width: 100%;
    }
  }
  /* END: subscribe media queries */