.masterclass {
	display: flex;
	min-height: calc(100vh - 74px);
	overflow: hidden;
}

.masterclass_image {
	flex: 1;
	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 5
}

.masterclass_image img {
	width: 90%;
	height: 100%;
	margin: auto;
	object-fit: contain;
}

.masterclass_image_overlay {
	position: absolute;
	inset: 0;
	width: 100%;

	background-color: var(--primary-color);
	z-index: -1;
}

.masterclass_content {
	flex: 1.22;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.masterclass_content_info {
	padding: 64px;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.masterclass_content_info h1 {
	font-size: 80px;
	font-weight: 600px;
	font-family: var(--playfair-display);
	color: var(--secondary-color);
}

.masterclass_content_info p {
	margin: 32px 0 0 0px;

	font-family: var(--plus-jakarta-sans);
	color: var(--secondary-color);
	font-size: 18px;
	font-weight: 400;
}

.masterclass_content_buttons {
	margin: 41px 0 0 0px;

	display: flex;
	flex-wrap: wrap;
	gap: 36px;
}

.masterclass_content_register_button {
	padding: 20px;
	border-radius: 36px;
	min-width: 212px;
	outline: none;
	border: none;
	background: var(--secondary-color);

	cursor: pointer;

	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
}

.masterclass_content_register_button:hover,
.masterclass_content_register_button:focus {
	color: black;
	outline: none;
	background: #adc53b;
}