.right_sidebar{
    /* position: fixed; */
    width: 150px;
    top:0;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    padding-top: 50px;
    order: 1;
    display: flex;
    flex-direction: column;
 }

 .right_sidebar h1{
    position: fixed;
    top: 100px;
    transform: rotate(270deg);
    order: 1
 }
 .right_sidebar .back_button{
    width: 50px; 
    order: 2;
    position: relative;
 }